<?xml version="1.0" ?>
<nlog throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="AppName" value="DDLog" />

    <targets>
      <target name="console" xsi:type="ColoredConsole"
              layout="${level:padding=5} ${longdate}: ${message} ${exception:format=tostring}" />
      <target name="summaryLog" xsi:type="File"
              header="Log start: ${longdate}| On Machine: ${identity}"
              footer="Log end: ${longdate}"
              layout="${longdate}|${logger}|${level}|${message}|${exception:format=tostring}"
              fileName="${basedir}/logs/summary .txt"
              archiveFileName="${basedir}/archives/summary_{#####}.txt"
              maxArchiveFiles="3" archiveEvery="Day" archiveNumbering="Sequence" />
      <target name="netCoreLog" xsi:type="File"
              header="Log start: ${longdate}| On Machine: ${identity}"
              footer="Log end: ${longdate}"
              layout="${longdate}|${logger}|${level}|${event-properties:item=EventId_Id}|${message}|${exception:format=tostring}"
              fileName="${basedir}/logs/netcore.txt"
              archiveFileName="${basedir}/archives/netcore_{#####}.txt"
              maxArchiveFiles="1" archiveEvery="Day" archiveNumbering="Sequence" />
      <target name="errorLog" xsi:type="File"
              header="Log start: ${longdate}| On Machine: ${identity}"
              footer="Log end: ${longdate}"
              layout="${longdate}|${logger}|${level}|${message}|${exception:format=type,tostring}"
              fileName="${basedir}/logs/error.txt"
              archiveFileName="${basedir}/archives/error_{#####}.txt"
              maxArchiveFiles="3" archiveEvery="Day" archiveNumbering="Sequence" />
    </targets>

    <rules>
        <logger name="Microsoft.*" minlevel="Trace" maxlevel="Debug" />
        <logger name="*.StatSummaryService" minlevel="Debug" writeTo="console" />
        <logger name="*" minlevel="Warn" writeTo="errorLog" />
        <logger name="Microsoft.*" minlevel="Info" final="true" writeTo="netCoreLog"/>
        <logger name="*" minlevel="Info" maxlevel="Info" writeTo="summaryLog" />
    </rules>
  
</nlog>
